[Unit]
Description=Google ddns updater
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/bin/ddns-update.py

[Install]
WantedBy=multi-user.target
